[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==4.6.0.66"
numpy = "==1.25.2"
matplotlib = "==3.7.2"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
